<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Enciclopedia Pokémon</title>
</head>
<body>
  <h1>Enciclopedia de Movimientos y Habilidades</h1>
  <nav>
    <a href="/movimientos">Ver Movimientos</a>
    <a href="/habilidades">Ver Habilidades</a>
  </nav>
</body>
</html>